<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/sstyle.css">
    <title>Rectangle Info</title>
</head>
<body>
    <h1 id=title >About this Rectangle</h1>
    <div class="container">
         <table id="rectable"> 
            <tr th:each="record : ${records}">
                <th>ID</th>
                <td th:text="${record.getId()}"></td>
            </tr>
            <tr th:each="record : ${records}">
                <th>Name</th>
                <td th:text="${record.getName()}"></td>
            </tr>
            <tr th:each="record : ${records}">
                <th>Colour</th>
                <td th:style="|background-color:${record.getColour()};|"></td>
            </tr>
            <tr th:each="record : ${records}">
                <th>Width</th>
                <td th:text="${record.getWidth()}"></td>
            </tr>
            <tr th:each="record : ${records}">
                <th>Height</th>
                <td th:text="${record.getHeight()}"></td>
            </tr>
        </table>
        <div th:each="record : ${records}">
            <form th:action="@{/rectangle/delete/{id}(id=${record.getId()})}">
                <button id=delete type="submit">DELETE THIS RECTANGLE</button>
            </form>
            <form th:action="@{/rectangle/home}">
                <button id=back type="submit">BACK</button>
            </form>
        </div>
        <div th:each="record : ${records}">
            <div th:style="|background-color:${record.getColour()}; width:${record.getWidth()}px; height:${record.getHeight()}px;|">
                <p style="font-size: 20px;" th:text="${record.getName()}"> </p>
            </div>
        </div>
    </div>
    
</body>
</html>