<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/homepagestyle.css">
  <title>Document</title>
</head>
<body>
    <h1>Rectangles</h1>
    <table id="rectable"> 
    <tr>
      <th></th> <th>Name</th> <th>Color</th>
    </tr>
    <tr>
      <th> </th> <th> </th> <th> red</th>
    </tr>
    </table>
    <form action="/process_form" method="post">
      <button type="button">Add a Rectangle</button> 
      <button type="button">Clear All</button> 
    </form>
</body>
</html>